/* Header
================================================== */
#logo {
    width            : 200px;
    height           : 122px;
    background-color : #842E1B;
}
#main-slider .carousel-content {
    margin-top : 25%;
    padding    : 0 50px;
}
/*Menu
================================================== */
#menu {
    width                   : 100%;
    height                  : 100%;
}

/* --------------------------
 * Pricing Table
 *---------------------------*/
/*
=============================================== */
/* --------------------------
 * Modifications des couleurs de base
 *---------------------------*/
/*
=============================================== */

/**
**** Programme
 */

#services {
    background          : -webkit-linear-gradient(left, #ff8c00 0%, #ff8c00 100%), -webkit-linear-gradient(left, #ff8c00 0%, #ff8c00 100%);
    background          : -moz-linear-gradient(left, #ff8c00 0%, #ff8c00 100%), -moz-linear-gradient(left, #ff8c00 0%, #ff8c00 100%);
    background          : -o-linear-gradient(left, #ff8c00 0%, #ff8c00 100%), -o-linear-gradient(left, #ff8c00 0%, #ff8c00 100%);
    background          : -ms-linear-gradient(left, #ff8c00 0%, #ff8c00 100%), -ms-linear-gradient(left, #ff8c00 0%, #ff8c00 100%);
    background          : linear-gradient(left, #ff8c00 0%, #ff8c00 100%), linear-gradient(left, #ff8c00 0%, #ff8c00 100%); /* Chrome10+,Safari5.1+ */

}
#services-wrapper:before {
    border-left-color : #FFFFFF ;
}

.service-box {
    background          : -webkit-linear-gradient(right, #35362c 0%, #35362c 100%), -webkit-linear-gradient(right, #35362c 0%, #35362c 100%);
    background          : -moz-linear-gradient(right, #35362c 0%, #35362c 100%), -moz-linear-gradient(right, #35362c 0%, #35362c 100%);
    background          : -o-linear-gradient(right, #35362c 0%, #35362c 100%), -o-linear-gradient(right, #35362c 0%, #35362c 100%);
    background          : -ms-linear-gradient(right, #35362c 0%, #35362c 100%), -ms-linear-gradient(right, #35362c 0%, #35362c 100%);
    background          : linear-gradient(right, #35362c 0%, #35362c 100%), linear-gradient(right, #35362c 0%, #35362c 100%);
}
.service-box h3 {
    color: #ff8c00;
}
.service-box h3:hover {
    color: #ff8c00;
}

.service-box p {
    color: #FFFFFF;
}

.service-box h3 {
    text-transform : none;
    font-size      : 18px;
    padding        : 10px;
}

#team-wrapper:before {
    border-right-color : #face2f;
}

/**
**** Inscription
 */
#team {
    background          : -webkit-linear-gradient(left, #FFFFFF 0%, #FFFFFF 100%), -webkit-linear-gradient(left, #FFFFFF 0%, #FFFFFF 100%);
    background          : -moz-linear-gradient(left, #FFFFFF 0%, #FFFFFF 100%), -moz-linear-gradient(left, #FFFFFF 0%, #FFFFFF 100%);
    background          : -o-linear-gradient(left, #FFFFFF 0%, #FFFFFF 100%), -o-linear-gradient(left, #FFFFFF 0%, #FFFFFF 100%);
    background          : -ms-linear-gradient(left, #FFFFFF 0%, #FFFFFF 100%), -ms-linear-gradient(left, #FFFFFF 0%, #FFFFFF 100%);
    background          : linear-gradient(left, #FFFFFF 0%, #FFFFFF 100%), linear-gradient(left, #FFFFFF 0%, #FFFFFF 100%); /* Chrome10+,Safari5.1+ */
}

/**
**** Phototheque
 */

#portfolio-wrapper:before {
    border-right-color : #face2f;
}

#portfolio {
    background          : -webkit-linear-gradient(right, #face2f 0%, #face2f 100%), -webkit-linear-gradient(right, #face2f 0%, #face2f 100%);
    background          : -moz-linear-gradient(right, #face2f 0%, #face2f 100%), -moz-linear-gradient(right, #face2f 0%, #face2f 100%);
    background          : -o-linear-gradient(right, #face2f 0%, #face2f 100%), -o-linear-gradient(right, #face2f 0%, #face2f 100%);
    background          : -ms-linear-gradient(right, #face2f 0%, #face2f 100%), -ms-linear-gradient(right, #face2f 0%, #face2f 100%);
    background          : linear-gradient(right, #face2f 0%, #face2f 100%), linear-gradient(right, #face2f 0%, #face2f 100%); /* Chrome10+,Safari5.1+ */
    background-position : 100px 100%, 100% 100px;
    background-repeat   : no-repeat;
}
/**
****LE WEB
 */
#aboutus-wrapper:before {
    border-left-color : #ff8c00;
}

#aboutus {
    background          : -webkit-linear-gradient(left, #ff8c00 0%, #ff8c00 100%), -webkit-linear-gradient(left, #ff8c00 0%, #ff8c00 100%);
    background          : -moz-linear-gradient(left, #ff8c00 0%, #ff8c00 100%), -moz-linear-gradient(left, #ff8c00 0%, #ff8c00 100%);
    background          : -o-linear-gradient(left, #ff8c00 0%, #ff8c00 100%), -o-linear-gradient(left, #ff8c00 0%, #ff8c00 100%);
    background          : -ms-linear-gradient(left, #ff8c00 0%, #ff8c00 100%), -ms-linear-gradient(left, #ff8c00 0%, #ff8c00 100%);
    background          : linear-gradient(left, #ff8c00 0%, #ff8c00 100%), linear-gradient(left, #ff8c00 0%, #ff8c00 100%); /* Chrome10+,Safari5.1+ */
}

#aboutus h2 {
    color : #000;
}
#aboutus h3 {
    color : #000;
}
#aboutus p {
    color: #000000;
    font-weight: bold;
}


/**
****Partenaires
 */
#client-wrapper:before {
    border-left-color : #ffe175;

}

#client {

}

/**
****Contact
 */
#contact-wrapper:before {
    border-left-color : #FFFFFF;
}

#contact {
    background          : -webkit-linear-gradient(left, #FFFFFF 0%, #FFFFFF 100%), -webkit-linear-gradient(left, #FFFFFF 0%, #FFFFFF 100%);
    background          : -moz-linear-gradient(left, #FFFFFF 0%, #FFFFFF 100%), -moz-linear-gradient(left, #FFFFFF 0%, #FFFFFF 100%);
    background          : -o-linear-gradient(left, #FFFFFF 0%, #FFFFFF 100%), -o-linear-gradient(left, #FFFFFF 0%, #FFFFFF 100%);
    background          : -ms-linear-gradient(left, #FFFFFF 0%, #FFFFFF 100%), -ms-linear-gradient(left, #FFFFFF 0%, #FFFFFF 100%);
    background          : linear-gradient(left, #FFFFFF 0%, #FFFFFF 100%), linear-gradient(left, #FFFFFF 0%, #FFFFFF 100%); /* Chrome10+,Safari5.1+ */
}

#contact .container > h2 {
    color : #24282B;
}

#monrow{
    margin-left: 25%;
    margin-right: 25%;
    width: 100%;
    height: 100%;
}

.btn-sq-lg {
    width: 150px !important;
    height: 150px !important;
}

.btn-sq {
    width: 100px !important;
    height: 100px !important;
    font-size: 10px;
}

.btn-sq-sm {
    width: 50px !important;
    height: 50px !important;
    font-size: 10px;
}

.btn-sq-xs {
    width: 25px !important;
    height: 25px !important;
    padding:2px;
}

#bottom {

    min-height : 200px;
    margin-top : -50px;
    padding    : 100px 0;
}
#main-slider .carousel .item.active {
    -ms-filter         : "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter             : alpha(opacity=100);
    opacity            : 1;

    -webkit-transition : opacity ease-in-out 300ms;
    -moz-transition    : opacity ease-in-out 300ms;
    -o-transition      : opacity ease-in-out 300ms;
    -ms-transition     : opacity ease-in-out 300ms;
    transition         : opacity ease-in-out 300ms;
    z-index            : 1;
}
#main-slider .active .animation.animated-item-1 {
    -webkit-animation : fadeInUp 300ms linear;
    -moz-animation    : fadeInUp 300ms linear;
    -ms-animation     : fadeInUp 300ms linear;
    -o-animation      : fadeInUp 300ms linear;
    animation         : fadeInUp 300ms linear;
}

#main-slider .active .animation.animated-item-2 {
    -webkit-animation : fadeInUp 500ms linear 300ms;
    -moz-animation    : fadeInUp 500ms linear 300ms;
    -ms-animation     : fadeInUp 500ms linear 300ms;
    -o-animation      : fadeInUp 500ms linear 300ms;
    animation         : fadeInUp 500ms linear 300ms;
}

#main-slider .active .animation.animated-item-3 {
    -webkit-animation : fadeInUp 500ms linear 300ms;
    -moz-animation    : fadeInUp 500ms linear 300ms;
    -ms-animation     : fadeInUp 500ms linear 300ms;
    -o-animation      : fadeInUp 500ms linear 300ms;
    animation         : fadeInUp 500ms linear 300ms;
}
