/* Header
================================================== */
#logo {
    width            : 200px;
    height           : 122px;
    background-color : orange;
}

/*Menu
================================================== */
#menu {
    width                   : 100%;
    height                  : 100%;
}

/*Directions vers les autres pages d'Inscription
================================================ */

/* --------------------------
 * Pricing Table
 *---------------------------*/
/*
=============================================== */
#services-wrapper:before {
    border-left-color : #e8432a ;
}

.service-box {
    background          : -webkit-linear-gradient(right, #ff8c00 0%, #ff8c00 100%), -webkit-linear-gradient(right, #ff8c00 0%, #ff8c00 100%);
    background          : -moz-linear-gradient(right, #ff8c00 0%, #ff8c00 100%), -moz-linear-gradient(right, #ff8c00 0%, #ff8c00 100%);
    background          : -o-linear-gradient(right, #ff8c00 0%, #ff8c00 100%), -o-linear-gradient(right, #ff8c00 0%, #ff8c00 100%);
    background          : -ms-linear-gradient(right, #ff8c00 0%, #ff8c00 100%), -ms-linear-gradient(right, #ff8c00 0%, #ff8c00 100%);
    background          : linear-gradient(right, #ff8c00 0%, #ff8c00 100%), linear-gradient(right, #ff8c00 0%, #ff8c00 100%);
}
#team-wrapper:before {
    border-right-color : #32d996;
}

#team {
    background          : -webkit-linear-gradient(left, #FFFFFF 0%, #FFFFFF 100%), -webkit-linear-gradient(left, #FFFFFF 0%, #FFFFFF 100%);
    background          : -moz-linear-gradient(left, #FFFFFF 0%, #FFFFFF 100%), -moz-linear-gradient(left, #FFFFFF 0%, #FFFFFF 100%);
    background          : -o-linear-gradient(left, #FFFFFF 0%, #FFFFFF 100%), -o-linear-gradient(left, #FFFFFF 0%, #FFFFFF 100%);
    background          : -ms-linear-gradient(left, #FFFFFF 0%, #FFFFFF 100%), -ms-linear-gradient(left, #FFFFFF 0%, #FFFFFF 100%);
    background          : linear-gradient(left, #FFFFFF 0%, #FFFFFF 100%), linear-gradient(left, #FFFFFF 0%, #FFFFFF 100%); /* Chrome10+,Safari5.1+ */
    background-position : 100px 100%, 100% 100px;
    background-repeat   : no-repeat;
}

#monrow{
    margin-left: 25%;
    margin-right: 25%;
    width: 100%;
    height: 100%;
}

.service-box h3 {
    color: #000;
}
.service-box h3:hover {
    color: #FFFFFF;
}

.btn-sq-lg {
    width: 150px !important;
    height: 150px !important;
}

.btn-sq {
    width: 100px !important;
    height: 100px !important;
    font-size: 10px;
}

.btn-sq-sm {
    width: 50px !important;
    height: 50px !important;
    font-size: 10px;
}

.btn-sq-xs {
    width: 25px !important;
    height: 25px !important;
    padding:2px;
}

#bottom {

    min-height : 200px;
    margin-top : -50px;
    padding    : 100px 0;
}